
<div class="board" ng-if="!loading">
    <div class="boardMenu">
        <h2>{{board.name}}</h2>
        <div class="error alert-box" ng-show="error">
            Error when updating ticket
        </div>
        <button class="basic" ng-click="addTicket()"> &#43 add ticket</button>
    </div>

    <div>
        <div board-column name="Requested" error="error" header="primary" status="requested" tickets="board.requested"></div>
        <div board-column name="In Progress" error="error" header="progress" status="inprogress" tickets="board.inprogress"></div>
    </div>
    <div>
        <div board-column name="Testing" error="error" header="progress" status="testing" tickets="board.testing"></div>
        <div board-column name="Done" error="error" header="secondary" status="done" tickets="board.done"></div>
    </div>
</div>

<div ng-if="loading" class="loader">
    <img src="/img/loading.gif">
</div>

<div ng-show="createNewTicket", class="modalDialog">
    <div class="container">
        <div class="close" title="Close" ng-click="close()">X</div>
        <h2> New Ticket </h2>
        <form name="newticket" ng-submit="submit()" novalidate>
            <fieldset>
                <div class="group" ng-class="{ 'has-error': (validate('ticketName')) }">
                    <label>*Name:</label>
                    <input name="ticketName" type="text" ng-model="ticket.name" required>

                    <div class="error" ng-if="validate('ticketName')">Ticket name is required</div>
                </div>
                <div  class="group" ng-class="{ 'has-error': validate('ticketDescription') }">
                    <label>*Description:</label>
                    <textarea name="ticketDescription" ng-model="ticket.description" required></textarea>

                    <div class="error" ng-if="validate('ticketDescription')">Description is required</div>
                </div>
                <div class="buttons">
                    <button ng-click=close()>cancel</button>
                    <button type="submit" class="basic">save</button>
                </div>
            </fieldset>
        </form>

    </div>
<div>
