<div class="home">

<h1> Kanban boards </h1>
<div>  </div>



<div class="boards" ng-if="!loading">
<ul>

    <li  ng-repeat="board in boards">

        <a ng-href="#/board/{{board.id}}" title="{{board.name}} {{board.description}}">
            <div class="name"> {{board.name}} </div>
            <div>Tickets: [{{board.count}}]</span></div>
            <div   class="light">{{board.description}}</div>

        </a>
    </li>

</ul>

<button class="big basic" ng-click="addBoard()"> &#43 add board</button>

</div>

<div ng-if="loading" class="loader">
    <img src="/img/loading.gif">
</div>

</div>

<div ng-show="createNewBoard", class="modalDialog">
    <div class="container">
        <div class="close" title="Close" ng-click="close()">X</div>
        <h2> New Board </h2>
        <form name="newboard" ng-submit="submit()" novalidate>
            <fieldset>
                <div class="group" ng-class="{ 'has-error': validateInputs() }">
                    <label>*Name:</label>
                    <input name="boardName" type="text" ng-model="board.name" required>
                </div>
                <div  class="group">
                    <label>Description:</label>
                    <textarea name="boardDescription" ng-model="board.description" ></textarea>
                </div>
                <div class="buttons">
                    <button ng-click=close()>cancel</button>
                    <button type="submit" class="basic">save</button>
                </div>
            </fieldset>
        </form>

    </div>
<div>
