.board {
    display: flex;
    flex-flow: row wrap;

    >div {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
    }

    .boardMenu {
        flex: 1 100%;
        display: flex;
        margin: @big-spacing @medium-spacing 0 @medium-spacing;
        justify-content: flex-end;

        button {
            display: block;
            color: @very-light-color;
            border-radius: 5px;
            padding: @small-spacing;
            background-color: @alert-color;
            border: none;
            font-weight: bold;

            &:hover {
                background-color: @alert-hover-color;
            }
        }
    }

    .boardColumn {
        flex: 1;
        font-weight: bold;
        margin: @medium-spacing;
        box-shadow: 0 0 3px @main-color;
        background-color: @very-light-color;

    }
}

@media (max-width: 768px){
    .board {
        >div {
            flex-direction: column;
        }
        .boardMenu {
            flex-flow: row wrap;
        }
    }
}

@media (max-width: 359px){
    .board {
        flex-direction: column;
    }
}
