.board {
    .display-flex();
    .flex-flow(row, wrap);

    >div {
        flex: 1;
        .display-flex();
        .flex-flow(row, wrap);
    }

    .boardMenu {
        flex: 1 100%;
        .display-flex();
        margin: @big-spacing @medium-spacing 0 @medium-spacing;
        justify-content: space-between;

    }

    .boardColumn {
        flex: 1;
        font-weight: bold;
        margin: @medium-spacing;
        box-shadow: 0 0 3px @main-color;
        background-color: @very-light-color;
        list-style: none;

    }
}

@media (max-width: 800px){
    .board {
        > div {
            flex-direction: column;
            justify-content: space-between;
        }
        .boardMenu {
            .flex-flow(row, wrap);
        }
    }
}

@media (max-width: 359px){
    .board {
        flex-direction: column;
    }
}
